---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;

// Colours

@import "colours";

$light: $mono_1;
$grey:  $mono-2;
$dark:  $mono_3;

$text:        $light;
$background:  $bg;
$brand:       $red;

// Width of the content area
$content-width:    1000px;
$on-palm:          600px;
$on-laptop:        800px;

// Import partials.
@import
  "mixins",
  "base",
  "layout",
  "syntax-highlighting"
;
