.author_image
  display: inline-block

  &:hover
    a p 
      color: lighten($brand, 10%)
    a img
      border-color: lighten($brand, 10%)

  img
    margin: 5px

    border: 5px solid
    border-radius: 100%
    border-color: $brand

  p
    text-align: center
    font-size: 22px
